/* PAGE */
.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* SCROLLABLE CONTENT AREA */
.login-container {
  margin-top: 85px;
  height: calc(100vh - 85px);
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  position: relative;
  z-index: 1;
  width: 400px;
  padding: 30px;
  background: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  text-align: center;
}

.avatar img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.links {
  text-align: right;
  margin-bottom: 12px;
}

.links a {
  font-size: 13px;
  color: #0a2a5e;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #0a2a5e, #071b34);
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.register {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 1px;
}
