.register-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.register-container {
  margin-top: 85px;
  height: calc(100vh - 85px);
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}


.register-box {
  position: relative;
  z-index: 1;
  
  width: 600px;
  padding: 30px;
  background: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  text-align: center;
  margin: 40px 0;
  margin-bottom: 30px;
}

.form-title {
  font-size: 25px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.form-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
  letter-spacing: 1px;
}


