.reset-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.reset-container {
  margin-top: 85px;
  height: calc(100vh - 85px);
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-box {
  position: relative;
  z-index: 1;

  width: 420px;
  padding: 30px;
  background: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  text-align: center;
}
